Source: minbar
Section: misc
Priority: extra
Maintainer: Mohammed Adnène Trojette <adn+deb@diwi.org>
Build-Depends: cdbs, debhelper (>= 5), libglib2.0-dev, libgtk2.0-dev (>= 2.10), libglade2-dev, libitl-dev, libgconf2-dev, libgstreamer0.10-dev, libgnomecanvas2-dev, gnome-pkg-tools, libnotify-dev (>= 0.4.1), libxml2-dev, scrollkeeper, intltool
Standards-Version: 3.7.3

Package: minbar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNOME Islamic prayer times application
 Minbar is a GNOME Islamic prayer times application on top of libitl,
 the Arabeyes prayer calculation library.
 .
 It runs in background as a tray icon, plays the 'athan' (call to
 prayer) and notifies at prayer times.
 .
 Minbar works with the main calculation methods (Muslim League by
 default, Shafii, Hanafi, ...).
