Source: gprayer
Section: misc
Priority: extra
Maintainer: Mohammed Adnène Trojette <adn+deb@diwi.org>
Build-Depends: cdbs, debhelper (>= 5), libglib2.0-dev, libgtk2.0-dev, libglade2-dev, libitl-dev, libgconf2-dev, libgstreamer0.10-dev, gnome-pkg-tools, libnotify-dev
Standards-Version: 3.7.2

Package: gprayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
